extends layout

block content
  .row
    .col-md-12.text-center
        h2 Latest Jordans

  .row
    .col-md-12.text-center

      .card.border-primary.mb-3(style="max-width: 20rem;").mx-auto
        .card-header Air Jordan 12 GS
        .card-body
          h6.card-title Release Date: November 17, 2018
          img(src="https://sneakerbardetroit.com/wp-content/uploads/2018/10/air-jordan-12-retro-desert-sand-preview-release-dates-2018-thumb.jpg",  alt="", style="width: 250px;")
          p.card-text(style="font-size:0.2")
            | Color: Desert Sand/Desert Sand-Pro Purple
            br
            | Price: $149.00
          a(href="#").card-link View history
          a(href="#").card-link.btn-dark.btn Buy

